/* # Code switcher 
 *
 * ## Minimal layout
 *
 *  <div id="example" style="height: 1rem"
 *    class="code-switcher code-switcher-toggle-in">
 *    <pre><code>
 *      <span>my</span><span data-switcher-id="example">example</span>
 *    </code></pre>
 *    <pre>
 *      <span>your</span><span data-switcher-id="example">example</span>
 *    </pre>
 *  </div>
 *
 *  <script src="/js/code-switcher.js" type="module">
 *  <link rel="stylesheet" href="/css/code-switcher.css">
 *
 * * * *
 *
 * ## Notes
 *
 * There may be other elements within the <div>.
 *
 * Each `data-switcher-id` needs to be unique within the <pre> 
 *  AND present in both <pre>'s.
 *
 * Every bit of text within the <pre> needs to be inside a <span>.
 *  Either with or without an id.
 *
 * Toggling between the two states is done using `toggle_code(<element-id>)`.
 *  For the above example that would be `toggle_code(example)`
 *
 * The height of the <div> has to be set manually, unfortunately.
 *  At least I've not found a way to do it dynamically.
 *
 * * * *
 *
 * ## How does this work
 *
 * On startup code-switcher.js calculates the transform needed to move
 *  the elements with matching `data-switcher-id`'s to the position of their counterpart.
 *  The transforms get stored in a <style> element in the page's <head>.
 *
 * ## Animation flow
 *
 * 1. Hide 'matched'(a) & Start fading out the rest(a)
 * 2. Begin translating 'matched'(b) to x0y0
 * 3. End fading out(a)
 * 4. Begin fade in(b)
 * 5. End translating(b) 
 * 6. End fade in(b)
 *
 * (a) and (b) refer to either of the 2 <pre>. Which is which depends on direction.
 * */


/* Codeblock styling */
.code-switcher>pre {
	padding: var(--gap);
	margin-right: var(--gap);
	margin-top: var(--gap);
	margin-bottom: var(--gap);
	background: var(--code-background);
	box-shadow: var(--drop-shadow);
	border-radius: var(--border-radius);

	--pre-width: fit-content;
	width: var(--pre-width);
	--pre-height: fit-content;
	height: var(--pre-height);



	@media only screen and (max-width: 600px) {
		/* Override width to 90% on smaller screens */
		width: 90%;
	}

}

/* Hide buttons by default */
.code-switcher pre .buttons {
	display: none;
}

/* Visually hide elements that aren't <pre>
 * I.e. stuff that would interfere with the animation, but should 
 * be kept around for people using screen readers.
 * */
@media (prefers-reduced-motion: no-preference) {

	/* Setting the height for this animation, only when we are animating */
	#use-example {
		height: 9em;
	}

	.code-switcher> :not(pre) {
		opacity: 0;
	}

	.code-switcher>p:first-of-type() {
		display: none;
	}

	.code-switcher>pre>.buttons {
		display: initial;
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;

		button {
			border: none;
			position: relative;
			opacity: 1;
			background: var(--color-accent-muted);
			padding: var(--gap-half) var(--gap);
			align-items: center;
			justify-content: center;
			gap: var(--gap);
			font-size: var(--font-size-small);
			color: var(--color-link);
			border-radius: none;
			text-decoration: none;
			outline: 1px solid transparent;
			outline-offset: -1px;
			cursor: pointer;

			&:first-child {
				/* border-right: 1px var(--color-accent-dark) dashed; */
				margin-right: calc(var(--gap-half) / 3);
			}
		}
	}

	/* default content is 'Automatic' */
	.code-switcher>pre>.buttons>button.play-pause::before {
		content: "Automatic";
	}

	/* When the animation is autoplaying, the button should say 'Pause'. */
	.code-switcher.playing>pre>.buttons>button.play-pause::before {
		content: "Pause";
	}

	@media only screen and (min-width: 600px) {
		#use-animation {
			/* When animating and on wide screen, the codeblock is using space so efficiently it can now do with only 7 ems! */
			height: 7em;
			margin-top: -0.4em;
		}

		.code-switcher>pre {
			padding-right: calc(var(--gap) * 15);
			padding-top: var(--gap);

			>.buttons {
				/* Display on the right side if the screen is wide enough */
				right: 0;
				left: unset;
			}
		}
	}

	.code-switcher {
		position: relative;
	}

	.code-switcher>pre {
		position: absolute;
		margin-top: 0px;
		top: 0;
		transition: height 1000ms ease-in-out, width 1000ms ease-in-out;

		@media only screen and (max-width: 600px) {
			/* Add some extra padding to the top, so the buttons have enough space to stay above the code and not overlap it. */
			padding-top: calc(var(--gap) * 3);
		}
	}

	/* defines the base state for all span's that have a 'data-switcher-id' attribute associated with them. */
	.code-switcher {

		/* with the matching pieces at their transformed location */
		[data-switcher-id] {
			/* inline-block instead of inline so transform can work */
			display: inline-block;
		}
	}

	/* the first <pre> within the .code-switcher should be showing */
	.code-switcher-toggle-in {

		/* the <pre> we are going to show now */
		pre:nth-of-type(1) {

			/* matching code appears and moves to its home position */
			code>[data-switcher-id] {
				transition: transform 1000ms ease-in-out;
				transform: translate(0px, 0px);
				opacity: 1;
			}

			/* the unmatched code fades in towards the end */
			code>span:not([data-switcher-id]) {
				transition: opacity 300ms 900ms;
				opacity: 1;
			}
		}

		/* the <pre> we are going to hide now */
		pre:nth-of-type(2) {

			/* unmatched code fades out */
			code>span:not([data-switcher-id]) {
				transition: opacity 300ms;
				opacity: 0;
			}

			/* matching code immediately get hidden */
			code>[data-switcher-id] {
				opacity: 0;
			}

			background: transparent;
			box-shadow: none;

			/* The buttons glued to this specific pre are now also to be hidden. */
			.buttons {
				opacity: 0;
			}
		}
	}

	/* the second <pre> within the .code-switcher should be showing */
	.code-switcher-toggle-out {

		/* the <pre> we are going to show now */
		pre:nth-of-type(2) {

			/* matching code appears and moves to its home position */
			code>[data-switcher-id] {
				transition: transform 1000ms ease-in-out;
				transform: translate(0px, 0px);
				opacity: 1;
			}

			/* unmatched code fades in towards the end */
			code>span:not([data-switcher-id]) {
				transition: opacity 300ms 900ms;
				opacity: 1;
			}
		}

		/* the <pre> we are going to hide now */
		pre:nth-of-type(1) {

			/* unmatched code fades out */
			code>span:not([data-switcher-id]) {
				transition: opacity 300ms;
				opacity: 0;
			}

			/* matching code immediately get hidden */
			code>[data-switcher-id] {
				opacity: 0;
			}

			background: transparent;
			box-shadow: none;

			.buttons {
				opacity: 0;
			}
		}
	}
}
